.preload {
    opacity: 0;
    transition: opacity .5s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.preload.on {
    opacity: 1;
}
